# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Uignore makefile
!Makefile

# Ignore object file
*.o

# Ignore out file
*.out

# Ignore zip
*.tar.gz

# Ignore test file
test*
